.b102 {
	padding-left: 15px;
  	padding-right: 15px;
}
.b102 h1{
	text-align: left;
}
.b103 {

    border: 1px solid #428bca;
	padding-left: 15px;
  	padding-right: 15px;
}
.b115 h2{
	color: #C8D9E5;
	text-align: center;
	font-size: 36px;
}
.b115 h3{
	color: #393939;
	/* text-align: center; */
	font-size: 16px;
}
.b115 p{
	color: #393939;
	text-align: justify;
	font-size: 14px;
	margin: 5px;
}
.b115 img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}