.p2 h1{
	color: #393939;
	font-size: 36px;
	text-align: center;
	padding-top: 80px;
}
.b99 h2{
	color: #C8D9E5;
	text-align: center;
	font-size: 36px;
}
.b99 h3{
	color: #393939;
	text-align: center;
	font-size: 16px;
}
.b99 p{
	color: #393939;
	text-align: justify;
	font-size: 19px;
}
.b99 img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.btn-primary.b101 {
	color: #393939;
	background-color: #D8D6D3;
	border-color: #E3E9E3;
}
.btn-primary.b101:hover, .btn-primary.b101:focus, .btn-primary.focus.b101, .open.b101 > .dropdown-toggle.btn-primary.b101 {

    color: #393939;
    background-color: #E2E0DD;
    border-color: #E3E9E3;
}
.btn-primary.b101:active, .btn-primary.active.b101 {
	color: #393939;
    background-color: #fff;
    border-color: #E3E9E3;
}
.b102 {
	padding-left: 15px;
  	padding-right: 15px;
}
.b102 h1{
	text-align: left;
}
.b103 {

    border: 1px solid #428bca;

}
.nav.b104 > li > a {
    position: relative;
    display: block;
    padding: 10px 50px;
}
.btn-primary.b105 {
	color: #428bca;
	background-color: #fff;
	border-color: #fff;
}
.btn-primary.b105:hover, .btn-primary.b105:focus, .btn-primary.focus.b105, .open.b105 > .dropdown-toggle.btn-primary.b105 {
    color: #2a6496;
	text-decoration: underline;
    background-color: #fff;
    border-color: #fff;
}
.b106 a {
	color: #393939;
	text-decoration: none;
}
.b106 a:hover, a:focus {
	color: #2a6496;
}
.radio, .checkbox {
	position: relative;
	display: block;
	border-top: 1px solid #B4B2AF;
	padding-bottom: 10px;
	padding-top: 10px;
	border-left: none;
}
.b115 h2{
	color: #C8D9E5;
	text-align: center;
	font-size: 36px;
}
.b115 h3{
	color: #393939;
	text-align: center;
	font-size: 16px;
}
.b115 p{
	color: #393939;
	text-align: justify;
	font-size: 14px;
	margin: 5px;
}
.b115 img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.btn.b55 {
	display: inline-block;
	padding: 6px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary.b55 {
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	color: #111;
	border: 1px solid;
	margin-left: 15px;
	border-color: #ADB1B8 #A2A6AC #8D9096;
	float: right;
	margin: 15px;
}
.btn-primary.b55:hover, .btn-primary.b55:focus, .btn-primary.focus.b55, .btn-primary.b55:active, .btn-primary.active.b55, .open.b55 > .dropdown-toggle.btn-primary.b55 {
	background: linear-gradient(to bottom,#f2daa0,#ebbc46);
	border-color: #ADB1B8 #A2A6AC #8D9096;
	color: #111;
}
.b116 p {
	font-size: 14px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
}
.b116 a {
	color: #393939;
	text-decoration: none;
}
.b116 a:hover, a:focus {
	color: #2a6496;
}