a {
	color: #246dac;
}
a:hover {
	color: #c45500;
}
.b39 {
	color: #767679;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 15px;
}
.b40 {
	color: #767679;
}
.b40:hover, .b40:focus {
	color: #c45500;
}
.b41 {
	margin-top: 15px;
}
.b42 img {
	width: 40px;
	margin-bottom: 10px;
	border: 1px solid #767679;
}
.b42 img:hover {
	cursor: pointer;
    border: 1px solid #febd69;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 189, 105, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 189, 105, .6);
}
.b45 {
	width: 3.5%;
	margin-left: 10px;
	
}
.b47 {
	float: left;
	margin-left: 15px;
	padding: 20px;
	border: 1px solid #ddd;
}
.b51 {
	color: #EB9F0A;
	border-bottom: 1px solid #ccc;
}
.b51 a {
	color: #246dac;
}
.b51 a:hover {
	color: #c45500;
}
.b52 a {
	color: #246dac;
}
.b52 a:hover {
	color: #c45500;
}
.b53 {
	margin-top: 10px;
}
.b53 p{
	float: left;
}
.nav.nav-pills.b54 a
{
	color: #393939;
	font-size: 12px;
}
.nav.b54 > li > a {
	position: relative;
	display: block;
	padding: 4px 10px;
	background: linear-gradient(to bottom,#fff,#E3E6EB);
	border-radius: 4px;
	border: 1px solid #aaa;
}
.nav-pills.b54 > li.active > a, .nav-pills.b54 > li.active > a:hover, .nav-pills.b54 > li.active > a:focus {
	color: #393939;
	background-color: #FFFFFF;
}
.nav.b54 > li > a:hover, .nav.b54 > li > a:focus {
	text-decoration: none;
	background: linear-gradient(to bottom,#f5f5f5,#D9DCE1);
}
.btn.b55 {
	display: inline-block;
	padding: 6px 60px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary.b55 {
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	color: #111;
	border: 1px solid;
	margin-top: 25px;
	border-color: #ADB1B8 #A2A6AC #8D9096;
}
.btn-primary.b55:hover, .btn-primary.b55:focus, .btn-primary.focus.b55, .btn-primary.b55:active, .btn-primary.active.b55, .open.b55 > .dropdown-toggle.btn-primary.b55 {
	background: linear-gradient(to bottom,#f2daa0,#ebbc46);
	border-color: #ADB1B8 #A2A6AC #8D9096;
	color: #111;
}
.btn.b56 {
	display: inline-block;
	padding: 6px 69px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary.b56 {
	background: linear-gradient(to bottom,#f6c88f,#ed9220);
	color: #111;
	border: 1px solid;
	margin-top: 10px;
	border-color: #ca7c1b #be751a #a56616;
}
.btn-primary.b56:hover, .btn-primary.b56:focus, .btn-primary.focus.b56, .btn-primary.b56:active, .btn-primary.active.b56, .open.b56 > .dropdown-toggle.btn-primary.b56 {
	background: linear-gradient(to bottom,#ecbe85,#e38816);
	border-color: #ca7c1b #be751a #a56616;
	color: #111;
}
.btn.b57 {
	display: inline-block;
	padding: 6px 41px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary.b57 {
	background: linear-gradient(to bottom,#fff,#E3E6EB);
	color: #111;
	border: 1px solid;
	margin-top: 10px;
	border-color: #ADB1B8 #A2A6AC #8D9096;
}
.btn-primary.b57:hover, .btn-primary.b57:focus, .btn-primary.focus.b57, .btn-primary.b57:active, .btn-primary.active.b57, .open.b57 > .dropdown-toggle.btn-primary.b57 {
	background: linear-gradient(to bottom,#f5f5f5,#D9DCE1);
	border-color: #ADB1B8 #A2A6AC #8D9096;
	color: #111;
}
.b58 p {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.b58 img {
	width: 30px;
	float: left;
	margin-top: 10px;
}
.b58 a {
	color: #246dac;
}
.b58 a:hover {
	color: #c45500;
}
.b59 {
	border-top: 1px solid #ccc;
	margin: 18px;
}
.b60 {
	background: black;
}
.b61 {
	margin-left: 13%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.b62 img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.b63 {
	float: left;
	width: 14%;
	margin-top: 410px;
}
.b64 {
	float: left;
	border-left: 1px solid #eee;
	width: 21.5%;
}
.b65 {
	float: left;
	border-left: 1px solid #eee;
	width: 21.5%;
}
.b66 {
	float: left;
	border-left: 1px solid #eee;
	width: 21.5%;
}
.b67 {
	float: left;
	border-left: 1px solid #eee;
	width: 21.5%;
}
.b68 {
	height: 300px;
}
.b68 img {
	max-height: 100%;
	max-width: 100%;
}
.b69 {
	border: 1px solid #eee;
	margin-top: 20px;
}
.b70 {
	height: 105px;
}
.b70 a {
	color: #246dac;
}
.b70 a:hover {
	color: #c45500;
}
.b70 p {
	text-align: justify;
	margin: 5px;
}
.b71 {
	color: #EB9F0A;
	border-top: 1px solid #ddd;
	padding-top: 5px;
}
.b71 a {
	color: #246dac;
}
.b71 a:hover {
	color: #c45500;
}
.b72 {
	border-top: 1px solid #ddd;
	padding-top: 5px;
}
.b73 {
	border-top: 1px solid #ddd;
	padding-top: 5px;
}
.b74 {
	background: #FFE;
}
.btn.b78 {
	display: inline-block;
	padding: 6px 60px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary.b78 {
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	color: #111;
	border: 1px solid;
	margin-top: 100px;
	border-color: #ADB1B8 #A2A6AC #8D9096;
}
.btn-primary.b78:hover, .btn-primary.b78:focus, .btn-primary.focus.b78, .btn-primary.b78:active, .btn-primary.active.b78, .open.b78 > .dropdown-toggle.btn-primary.b78 {
	background: linear-gradient(to bottom,#f2daa0,#ebbc46);
	border-color: #ADB1B8 #A2A6AC #8D9096;
	color: #111;
}
.form-control.b79 {
	display: block;
	width: 75%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #aaa;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	float: left;
}
.form-control.b79:focus {
  border-color: #febd69;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 189, 105, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 189, 105, .6);
}
.b80 {
	margin-top: 20px;
}
.b81 {
	border-right: 1px solid #ccc;
}
.b82 {
	margin-left: 20px;
}
.b83 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.b84 {
	color: #EB9F0A;
	border-top: 1px solid #ddd;
	padding-top: 5px;
	font-size: 16px;
}
.b85 {
	border-top: 1px solid #ddd;
	padding-top: 5px;
}
.b86 {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 10px;
}
.b87 {
	padding-top: 10px;
	margin-top: 10px;
}
.b87 img{
	height: 30px;
	float: left;
	border-radius: 15px;
}
.b88 p {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.b89 {
	color: #EB9F0A;
	padding-top: 5px;
}
.b118 :hover {
	background: #9fc6db;
	cursor: pointer;
}